

.highlight {background-color: yellow;}
.underline{ text-decoration: underline;}
.bold{ font-weight: bold;}
.visible{display: block;}

.hidden{display: none;}
.visible2{display: block;}
.notclicked{
    background-color: palegoldenrod;
}

.clicked{
    background-color: gray;
    pointer-events: none;

}